.encargo-contenedor{
    margin-top: map-get($size, 6 );
    width: 100%;
    height: 500px;
    background: #ADD100;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #7b920a88, #aed10073), url(../imagenes/messi.jpg);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #7b920a88, #aed10073), url(../imagenes/messi.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: cover;
background-attachment: fixed;
position: relative;

}
.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}
.texto-nosotros{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
}
