

nav{
    background-color: $color-fondo ;
    height: map-get($size, 3 );
    color: $color-fuente;
    
    width: 100%;
    
    
    
  
   
}
nav .container{
    position: fixed;
    display: flex;
    background-color: rgb(46, 179, 46);
    height: map-get($size, 3 );
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    
    width: 100%;
    top: 0;
    left: 0;
    
}
.nav-logo{
    
    font-size: map-get($size, 1 );
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
 
 
 color: $color-fuente;       
}

.nav-menu{
    
   
    display: grid;
    grid-auto-flow: column;
    gap: 3rem;
}
.nav-item{
   
    margin: 0 10px;
    line-height: map-get($size, 3 );
    width: max-content;
    color: white;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
    
    

}
.nav-item::after{
    content: "#";
    display: block;
    
    background-color: white;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path 0.3s;
}
.nav-item:hover{
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.nav-label, .nav-input{
    display: none;
}
@media (max-width: 700px){
    .nav-label{
        display: block;
        cursor: pointer;
    }
    .nav-menu{
        position: fixed;
        top: map-get($size, 3 );
        bottom: 0;
        background: rgb(4, 48, 4);
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 0.5s ease-in-out;
    }
    .nav-input:checked + .nav-menu{
        clip-path: circle(100% at center);
    }
}
header nav div .fa-solid{
   font-size: 40px;
   margin-right: 40px;
   border: 2px  solid $color-fondo ;
   border-radius: 40px;
   border-left: 10px;
   border-right: 10px;
}


 